<div class="home-container">
    <p></p>
    <app-card 
        gameCover="../../../assets/bt-4.jpg"
        gamelabel="Digital"
        gamePrice="150,50"
        gameType="PS5 | XBOX ONE"
    >
    </app-card>
    <app-card 
        gameCover="../../../assets/bt-1.jpg"
        gamelabel="Exclusivo"
        gamePrice="99,90"
        gameType="PS3 | XBOX 360"
    >
    </app-card>
    <app-card 
    gameCover="../../../assets/bt-5.jpg"
    gamelabel="Digital"
    gamePrice="199,99"
    gameType="PS5 | XBOX ONE"

    >
    </app-card>

    <app-card 
    gameCover="../../../assets/ac-cover.jpg"
    gamelabel="Digital"
    gamePrice="329,99"
    gameType="PS3 | XBOX 360 | PS4"

    >
    </app-card>

    <app-card 
    gameCover="../../../assets/bt-hardline.jpg"
    gamelabel="Exclusivo"
    gamePrice="Free"
    gameType="PS3 | XBOX 360 | PS4"

    >
    </app-card>

    <app-card 
    gameCover="../../../assets/bt-bad-company-2.jpg"
    gamelabel="Exclusivo"
    gamePrice="Free"
    gameType="Todas as plataformas"

    >
    </app-card>
</div>
