.menu-bar-container{
    display: flex;
    flex-direction: row;
    color: white;
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    width: 100%;
}
.logo-menu-bar-logo{
    margin-right: 20px;
}
.menu-bar-item > ul{
    display: flex;
    list-style-type: none;
}
.menu-bar-item > ul >li {
    padding: 5px;
    margin-right: 15px;

}
.menu-bar-item > ul > li > a {
    text-decoration: none;
    color: black;
    padding: 5px;

}

.menu-bar-item > ul > li > a:hover{
    font-weight: 600;
    color: black;
}